<!DOCTYPE html>
<html lang="en">
<head>
  <title>www.lstechsoftware.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>
<body style=" background-repeat: no-repeat">
  <div class="container">
  <!--navigation start-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top" >
     <div class="container-fluid">
<a class="navbar-brand" href="about.html" ><span style="font-size: 40px;font-weight: 600; font-family: 'Aclonica';font-size: 22px;color: white">E-Learning </span></a>
 
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
 <ul class="navbar-nav text-center ml-auto" >
    
   <li class="nav-item">
     <a class="nav-link" href="about.html"><span style="font-size: 20px;font-weight: 400;color: white;  ">About</span></a>
   </li>
     
     
     <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;font-weight: 400;color: white;">
       Study Materials
     </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="#">Action</a>
       <a class="dropdown-item" href="#">Another action</a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="#">Something else here</a>
     </div>
   </li>
     
     
   
     <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;font-weight: 400;color: white; ">
       Classes
     </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="#">Action</a>
       <a class="dropdown-item" href="#">Another action</a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="#">Something else here</a>
     </div>
   </li>
     
   <li class="nav-item">
       <a class="nav-link" href="#"><span style="font-size: 20px;font-weight: 400;color: white;  ">Register</span></a>
   </li>
   <li class="nav-item">
       <a class="nav-link" href="#"><span style="font-size: 20px;font-weight: 400;color: white;"> Login</span></a>
   </li>    
 </ul>
</div>  
 </div>
</nav>
<div class="row"  style="margin-top: 70px;">
  <div class="card">
    <h1>Lav</h1>
  </div>
</div>
</div>

</body>
</html>
